/* Basic sample */

body {
	overflow: hidden;
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
	text-align: center;
}

#magazine {
	height: 600px;
	width: 900px;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#magazine .turn-page {
	background-color: #f3f3f3;
	background-size: 100% 100%;
}

.p3,
.p5,
.p9,
.p13,
.p17,
.p21,
.p25,
.p29,
.p33,
.p35,
.p37 {
	background-color: white !important;
	border-left-width: 1px;
	border-left-style: solid;
}

#nav-menu {
	z-index: 9999;
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-49%);
	font-size: 2rem;
}

#nav-menu .fas {
	cursor: pointer;
	margin: 0 0.5rem;
}

#my-video {
	transition: 'display 1s ease-in-out';
	z-index: 9999;
	width: 900px;
	height: 600px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/* Page 2 */

#toc {
	width: 75%;
	text-align: center;
	font-family: 'Crimson Text';
	color: #312f2fe7;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.title {
	margin: 2rem 0;
	text-decoration: underline;
}

.index {
	cursor: pointer;
	margin: 15px;
	padding: 5px;
}



/* Audio */

.audio {
	z-index: 9999;
	position: absolute;
	margin: 0 auto;
	top: 0.5rem;
	left: 2%;
	visibility: hidden;
}

.audio:focus {
	outline: 0;
}

.dwn {
	color: #242424;
	font-size: 25px;
	z-index: 9999; 
	position: absolute;
	right: 10%;
	top: 1.2rem;
}