/* Basic sample */

body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
	text-align: center;
}

#flipbook{
	position: absolute;
	width:922px;
	height:600px;
  top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
}

.page{
	width:461px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}


.audio {
	margin: 1rem auto;
}

.audio:focus {
	outline: 0;
}

#two, #four {
	display:	none;
}

